nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
.config{
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
   
}
.config:hover{
    padding: 15px;
    transition-duration: 0.5s;
}
#amarelo{
    background-color: yellow;
     border-style: none;
    color: darkblue;
}
#azul{
    background-color: blue;
     border-style: none;
    color: orange;
}
#branco{
    background-color: white;
     border-style: none;
    color: black;
}
#cinza{
    background-color: gray;
     border-style: none;
    color: white;
}
#laranja{
    background-color: orange;
     border-style: none;
    color: darkblue;
}
#marrom{
    background-color: brown;
     border-style: none;
    color: burlywood;
}
#preto{
    background-color: black;
     border-style: none;
    color: white;
}
#verde{
    background-color: green;
     border-style: none;
    color: lightgray;
}
#vermelho{
    background-color: red;
     border-style: none;
    color: burlywood;
}
#violeta{
    background-color: purple;
     border-style: none;
    color: gold;
}