:root{
  --azul-claro: #A0D1E8;
  --verde-menta: #A8E0B4;
  --amarelo-sol: #F9E37B;
  --cinza-nublado: #B0B0B0;
  --branco: #FFF;
}

.main{ 
  background-color: var(--verde-menta);
  width: 800px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  box-shadow: 3px 3px rgb(85, 81, 81);
  position: relative;
}

.title{
  position: absolute;
  top: 0;
  left: 0;
}

.input{
  padding: 30px;
}

.input button{
  width: 40px;
  height: 40px;
  background-color: var(--verde-menta);
  border: none;
  font-size: 20px;
}

.input input{
  border: none;
  outline: none;
  width: 700px;
  height: 40px;
  margin: 10px;
  border-radius: 10px;
  color: black;
  background-color: var(--azul-claro);
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  text-align: center;
}

.input input::placeholder{
  color: var(--branco);
}
.temperatura{
  color: var(--branco);
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  align-content: first baseline;
  margin: 10px;
  display: flex;
  flex-direction: row;
}

.descricao_clima{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.descricao_clima > span{
  font-family: 'Poppins', sans-serif;
  
  font-size: 50px;
  color: black;
  margin: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.detalhes_tempo_container{
  display: flex;
  flex-direction: row;
  gap: 3px;
}

.informacoes_clima{
  text-align: center;
  margin-top: 10px;
}

.informacoes_clima {
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
  color: black;
  margin: 10px;
}

