*{
  margin: 0;
  padding: 0;
}

:root{
  --azul-claro: #A0D1E8;
  --verde-menta: #A8E0B4;
  --amarelo-sol: #F9E37B;
}

body{
  height: 100vh;
  background: linear-gradient(135deg, var(--azul-claro), var(--amarelo-sol));
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;  
}

div.sol{
  position: absolute;
  bottom: 0px;
  right: 0px;
  height: auto; 
}

div.lua{
  position: absolute;
  top: 0px;
  left: 0px;
  height: auto; 
}